@using System.Security.Claims

<!DOCTYPE html>
<html lang="br">
<head>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="https://kit.fontawesome.com/f48165f51e.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <title>GP Audax - Login</title>
    <div class="tag-version no-select"><p>1.1.1</p></div>
</head>
@if (ViewContext.RouteData.Values["action"]?.ToString() == "Index" || ViewContext.RouteData.Values["action"]?.ToString() == "RecuperarSenha" || ViewContext.RouteData.Values["action"]?.ToString() == "EsqueceuSenha")
{
    @RenderBody()
}
else
{
    <body>
        <input type="checkbox" id="check" checked>
        <!--comeco do header-->
        <header>
            <label for="check">
                <ion-icon name="menu-outline" id="sidebar_btn"></ion-icon>
            </label>
            <div class="left"></div>
        </header>
        <!--final do header-->
        <!--comeco da sidebar-->
        <div class="sidebar">
            <span><img src="~/img/logo-small.png" alt="Audax"></span>
                <a asp-controller="Usuario" asp-action="TodosCadastros"><ion-icon name="home-outline"></ion-icon><span>Todos Usuários</span></a>
                <a asp-controller="Sistema" asp-action="GerenciadorSistema"><ion-icon name="planet-outline"></ion-icon><span>Ger. de Sistemas</span></a>
                <a asp-controller="Usuario" asp-action="NovoUsuario"><ion-icon name="person-outline"></ion-icon><span>Novo Usuário</span></a>
                <a asp-controller="Sistema" asp-action="NovoSistema"><ion-icon name="add-outline"></ion-icon><span>Novo Sistema</span></a>
                <a asp-controller="Configuracao" asp-action="Configuracao"><ion-icon name="settings-outline"></ion-icon><span>Configurações</span></a>
                <a onclick="logout()" style="cursor:pointer;"><ion-icon name="log-out-outline"></ion-icon><span>Sair</span></a>          
        </div>
        <!--final da sidebar -->
        <div class="container">
            <container>
                <main role="main">
                    @RenderBody()
                </main>
            </container>
        </div>
        
        <script>

            function logout() {
                try {
                    $.ajax({
                        type: 'POST',
                        url: '/logout',
                        success: function (data) {
                            window.location.replace("/Home/Index");
                        },
                        error: function () {
                            alert("Não foi possível sair do sistema!");
                        },
                        contentType: "application/json"
                    });
                } catch (e) {
                    openModalMessage(e.message);
                }
            }

        </script>

    </body>
}
</html>
