<body class="estilo-body">
    <div class="header">
        <div class="logo">
            <a href="https://www.gpaudax.com.br/">
                <img src="/img/logobranco.png" alt="">
            </a>
        </div>
    </div>

    <div class="login_body">
        <div class="login_box">
            <form onsubmit="doNovaSenha(this); return false;">
                <div class="input_box">
                    <p>Senha</p>
                    <input type="password"
                           name="Senha"
                           id="Senha"
                           placeholder="**********"
                           required />
                </div>
                <div id="icon"><ion-icon name="eye-outline" onclick="showHideOne()"></ion-icon></div>
                <div id="iconhide"><ion-icon name="eye-off-outline" onclick="showHideOne()"></ion-icon></div>

                <div class="input_box">
                    <p>Confirmar senha</p>
                    <input type="password"
                           name="SenhaConf"
                           id="SenhaConf"
                           placeholder="**********"
                           required />
                </div>
                <div id="icon-dois"><ion-icon name="eye-outline" onclick="showHideTwo()"></ion-icon></div>
                <div id="icon-doishide"><ion-icon name="eye-off-outline" onclick="showHideTwo()"></ion-icon></div>

                <div>
                    <button type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</body>

<div class="modal-message" id="modalMessage">
    <div class="modal-message-content">
        <div class="modal-message-header" id="divMessage">
        </div>
        <div class="modal-conteudo">
            <button type="submit" class="botao-message" onclick="doLogin(); return false;">Login</button>
        </div>
    </div>
</div>

<div class="message" id="message"></div>

@section Scripts {
    <script>
          
        function doLogin() {
            window.location.href = '/Home/Index';
        }

        function doNovaSenha(form) {
            try {
                const KeyOri = document.getElementById("Senha").value;
                const ConfKey = document.getElementById("SenhaConf").value;
                if (ConfKey == KeyOri) {
                    const urlParams = new URLSearchParams(window.location.search);
                    const param_x = urlParams.get('pass');


                    debugger
                    var u = parseForm(form);
                    var Key = sha1(u.Senha);
                    debugger;
                    u.Key = Key;
                    u.Hash = param_x;

                    $.ajax({
                        type: 'PUT',
                        url: '/CadastroSenha',
                        data: JSON.stringify(u),
                        success: function (data) {
                            openModalMessage("Senha Alterada, realize o login");
                        },
                        error: function () {
                            openModalMessage("Não foi possivel cadastrar a senha");
                        },
                        contentType: "application/json"
                    });
                } else {
                    ErrAtv("Senhas não coincidem!");
                }                
            } catch (e) {
                openModalMessage(e.message);
            }
        }
       
        function showHideOne() {
            const Senha = document.getElementById('Senha');
            const icon = document.getElementById('icon');
            const iconhide = document.getElementById('iconhide');
            if (Senha.type === 'password') {
                Senha.setAttribute('type', 'text');
                icon.style.display = 'none';
                iconhide.style.display = 'block';
            } else {
                Senha.setAttribute('type', 'password');
                icon.style.display = 'block';
                iconhide.style.display = 'none';
            }
            
        }

        function showHideTwo() {
            const SenhaConf = document.getElementById('SenhaConf');
            const iconD = document.getElementById('icon-dois');
            const iconhideD = document.getElementById('icon-doishide');

            if (SenhaConf.type === 'password') {
                SenhaConf.setAttribute('type', 'text');
                iconD.style.display = 'none';
                iconhideD.style.display = 'block';
            } else {
                SenhaConf.setAttribute('type', 'password');
                iconD.style.display = 'block';
                iconhideD.style.display = 'none';
            }

        }

    </script>
}
